@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

html,
body {
	width: 100vw;
	height: 100vh;
	overflow: hidden !important;
	background-color: transparent !important;
}

#root {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}
